* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 237, 240);
    font-family: 'Fuggles', cursive;

}

#lv {
    width: 400px;
    height: auto;
}

img {
    width: 90px;
    height: 90px;
    margin: 5px 5px;
}

.container {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 30px;
    margin-right: 30px;
}

.container_game {
  
    display: flex;
    flex-wrap: wrap;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;

    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.head_game {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin-left: 30px;
    margin-right: 30px;
}

.score_game {
    font-size: 50px;
    text-decoration: none;
    color: rgb(235, 13, 31);
    font-weight: bold;
}


p,
h1 {
    font-size: 50px;
    text-decoration: none;
    color: rgb(235, 13, 31);
    font-weight: bold;
}

a {
    font-size: 50px;
    text-decoration: none;
    color: rgb(235, 13, 31);
    font-weight: bold;
}

.cell_game {
    cursor: pointer;
    position: relative;
}

#back {
    width: 60px;
    height: 30px;
    margin: auto;
}

.back {
    border: 2px solid rgb(235, 13, 31);
    width: 90px;
    height: 90px;
    margin: 5px 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.front {
    /*transform: rotateY(90deg);*/
    position: absolute;

}

@media (max-width: 768px) {
    #lv {
        width: 200px;
        height: auto;
    }

    .img {
        width: 50px;
    height: 50px;
    margin: 15px 15px;
    }
    .cell_game img {
        width: 50px;
        height: 50px;
    }
    #back {
        width: 50px;
        height: 30px;
        margin: auto;
    }
    .back{
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1024px) {
    #lv {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 670px) {
    #lv {
        width: 100px;
        height: auto;
    }
}