/* forum-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
    /* устанавливается для всех эленментов обязательно. чтобы при изменении падингов не изменялся размер блока. */
    scroll-behavior: smooth;
    /* для плавной прокрутки сайта по якорям*/
}

*,
*::before,
* ::after {
    /* для всех псевдоэлементов всех элементов */
    box-sizing: inherit;
    /* inherit - наследовать от родителя */
}

.body {
    /*если сайт будет видоизменятся, то что бы при добавлении брадись стили родителя */
    font-family: 'Inter', 'Forum';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

/* header */
.header {
    /* выравнивание header по центу и 1440 размер */
    width: 1440px;
    margin: 0 auto;
}

/*обертка header */
.coat {
    height: 90px;
    background: #0C0C0E;
    width: 1440px;
}

/*заголовок header */
.coat h1 {
    color: #FFFFFF;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400px;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 294px;
    height: 50px;
    margin-left: 20px;
}

/*размещение навигации горизонтально с отступами 30 */
.navinfo {
    display: inline-block;
    margin-right: 30px;
}

/*оформление ссылок */
.navinfo a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 250% */
    text-decoration: none;
}

/*оформление ссылок при наведении*/
.navinfo a:hover {
    color: #bec4ae;
    cursor: pointer;
    text-decoration: underline;
}

/*последний элемент в навигации без отступа*/
.navinfo:last-child {
    margin-right: 0px;
}

/*контейнер для навигации*/
.navlist {
    justify-content: space-between;
    display: flex;
    width: 584px;
}

/*контейнер для навигации всесте скартинкой*/
.navprofil {
    justify-content: space-between;
    display: flex;
    width: 672px;
}

/*размещение картинки в ее же диве*/
.logo {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
}

/*контейнер для заголовка и навишации + картинка (контейнер их)
размер контейнера берет у родителя header*/
.coat {
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
}

/*секция about размеры ее*/
.about {
    width: 1440px;
    height: 1436px;
    background: #FFF;
}

/*создание градиента на картинки и вставка картинки*/
.gradient_with_img {
    height: 600px;
    background-image: linear-gradient(to top, rgba(12, 12, 14, 0), rgba(12, 12, 14, 1)), url(../img/welcome-1440.jpg);
    padding-top: 255px;
    /*опустился блок с текстом*/
    padding-left: 0px;
    margin-left: 0px;
}

.welcom h2 {
    width: 520px;
    height: 150px;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: pre-line;
}

/*блок с текстом размещается в контейнере welcom*/
.welcom {
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-top: -35px;
}

.text_about {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

/*размещение текста about*/
.text_about h2 {
    margin-top: 20px;
    margin-left: 667px;
}

/*создание черты под текстом about*/
.text_about h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-left: 28px;
    margin-top: 20px;
}

.about_cards_text h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    margin-top: 40px;
}

/*контейнер для картинок*/
.container_cards_about {
    height: 560px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

/*картинки с отступами справа*/
.container_cards_about img {
    margin-right: 25px;
}

/*последняя картинка без отступа*/
.container_cards_about img:last-child {
    margin-right: 0px;
}

/*ставим на место кнопки*/
.shelder {
    padding-left: 686px;
    padding-top: 33px;
}

/*кнопки стилизация*/
.inputcolor {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    background-color: #0C0C0E;
    margin-right: 10px;
    margin-left: 0px;
    outline: none;
}

/*кнопки стилизация при переходе*/
.shelder input:checked {
    border: 13px solid #BB945F;
}

.favorites_ {
    width: 1440px;
    height: 1439px;
    background: #FFF;
}

/*размещение текста Favorites*/
.text_favorites h2 {
    margin-top: 20px;
    margin-left: 640px;
}

/*создание черты под текстом Favorites*/
.text_favorites h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-left: 55px;
    margin-top: 20px;
}

.text_favorites {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

/*создание блока с текстом Pick favorites of*/
.text_favorites_second {
    margin-top: 41px;
    margin-left: 20px;
    width: 234px;
    height: 24px;
}

.text_favorites_second p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*создание  кнопок favorites*/
.favorites_input:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 20px;
}

.favorites_input label {
    margin-right: 90px;
    line-height: 32px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

input[type='radio'] {
    accent-color: #000000;
    margin: 0px;
    cursor: pointer;
}

.favorites_input {
    margin-left: 20px;
    margin-top: 40px;
}

/*подсветка кнопок при наведении favorites*/
.favorites_input input:hover {
    outline: none;
    box-shadow: 0 0 0 5px #f5ede9;
    cursor: pointer;
}

.favorites_input label:hover {
    outline: none;
    box-shadow: 0 0 0 5px #f5ede9;
    cursor: pointer;
}

/*карточки на покупки книг*/
.books_winter {
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.staff {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 15px;
    width: 102px;
    height: 40px;
    text-align: left;
    white-space: nowrap;
}

/*черта для подчеркивания*/
.staff:after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #BB945F;
}

.the_book {
    margin-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: pre-line;
}

.text_buy {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    width: 355px;
}

.buy_botton {
    margin-top: 15px;
}

.button_buy {
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border: 1px solid #000;
    background: #FFF;
    border-radius: 2px;
    cursor: pointer;
}

.button_buy:hover {
    background-color: #BB945F;
    transition: background-color .6s linear;
}

.book_img {
    padding-top: 295px;
    margin-left: -334px;
    padding-right: 20px;
}

/*отступы для кнопок в карточках для привязки в одном месте*/
.books_winter>div:last-of-type {
    margin-top: auto;
    padding-bottom: 15px;
}

/*контейнер для карточек */
.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
}

/*карточки весна */
.books_spring {
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.books_spring>div:last-of-type {
    margin-top: auto;
    padding-bottom: 15px;
}

/*кнопка заблокированная */
.button_buy1 {
    width: 75px;
    height: 30px;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border: 1px solid #BB945F;
    background: #FFF;
    border-radius: 2px;
    cursor: pointer;
}

/*карточки лето */
.books_summer {
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.books_summer>div:last-of-type {
    margin-top: auto;
    padding-bottom: 15px;
}

/*карточки осень */
.books_autumn {
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.books_autumn>div:last-of-type {
    margin-top: auto;
    padding-bottom: 15px;
}

/*блокировка карточек с книгами разделов поры года */
.page2 {
    display: none;
}

.page3 {
    display: none;
}

.page4 {
    display: none;
}

/*создание черты под текстом coffeeshop*/
.text_coffeeshop h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-left: 85px;
    margin-top: 20px;
}

.coffeeshop_cards_text h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;

}

.text_coffeeshop {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffeeshop {
    background: #FFF;
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/*название раздела с ценами*/
.coffee_name {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: nowrap;
}

/*цены кофе*/
.coffee_element {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 197px;
}

.line {
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin: 0 auto;
}

.ye {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
/*контейнер с элементами с ценой*/
.coffee_tea {
    display: flex;
    width: 437px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    /*строка не переносится из блока, забываю(*/
}
/*контейнер с элементами на продажу*/
.prisces_coffee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 438px;
    margin-top: 40px;
    gap: 40px;
}
.cakes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 482px;
    margin-top: 40px;
    gap: 40px;
}

/*контейнер с элементами с ценой*/
.coffee_cakes {
    display: flex;
    width: 482px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    /*строка не переносится из блока, забываю(*/
    text-align: right;
    gap: 40px;
}

.prisces {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 520px;
}

.cakes_name {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: right;
}
/*пыталась выровнять названия кексов справа*/
.coffee_cakes .coffee_element {
    margin-left: auto;
    margin-right: 0;
}
/*блок контакты*/
.contacts {
    display: flex;
    width: 1440px;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}
/*создание черты под текстом coffeeshop*/
.text_ourcontacts h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-left: 95px;
    margin-top: 20px;
}

.text_ourcontacts h2 {
        color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
/*создание адресов*/
.director {
    display: flex;
    width: 351px;
    flex-direction: row;
    text-align: left;
    padding-bottom: 15px;
}
.ld {
    color: #000;
    margin-left: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: nowrap;
}
.ah {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 5px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.for {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}
.conteiner_number {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 20px;
}
.conteiner_number a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.ouradress {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
}
.adress {
    display: flex;
    justify-content: space-between;
    width: 1400px;
}
.ouradresser>div:last-of-type {
  padding-bottom: 10px;
}
.for_all {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}



