/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html {
    box-sizing: border-box; /* устанавливается для всех эленментов обязательно. чтобы при изменении падингов не изменялся размер блока. */
  }
  *, *::before, * ::after { /* для всех псевдоэлементов всех элементов */
    box-sizing: inherit; /* inherit - наследовать от родителя */
 } 
 .body{ /*если сайт будет видоизменятся, то что бы при добавлении брадись стили родителя */
    font-family: 'Inter', 'Forum';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
 }
 /* header */ 
 .header {   /* выравнивание header по центу и 1440 размер */ 
    width: 1440px;
    margin: 0 auto;
 }
 /*обертка header */
 .coat { 
    height: 90px;
    background: #0C0C0E;
    width: 1440px;
}
/*заголовок header */
 .coat h1 {
    color: #FFFFFF;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400px;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 294px;
    height: 50px;
    margin-left: 20px;
}
/*размещение навигации горизонтально с отступами 30 */
.navinfo {
    display: inline-block; 
    margin-right: 30px;
}
/*оформление ссылок */
.navinfo a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    text-decoration: none;
}
/*оформление ссылок при наведении*/
.navinfo a:hover{
    color: #bec4ae;
    cursor: pointer;
    text-decoration: underline;
}
/*последний элемент в навигации без отступа*/
.navinfo:last-child {
    margin-right: 0px;
}
/*контейнер для навигации*/
.navlist {
    justify-content:space-between;
    display: flex;
    width: 584px;
}
/*контейнер для навигации всесте скартинкой*/
.navprofil {
    justify-content:space-between;
    display: flex;
    width: 672px;
}
/*размещение картинки в ее же диве*/
.logo {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
}
/*контейнер для заголовка и навишации + картинка (контейнер их)
размер контейнера берет у родителя header*/
.coat {
    justify-content:space-between;
    display: flex;
    padding-top: 20px;
}
/*секция about размеры ее*/
.about {
    width: 1440px;
    height: 837px;
    background: #FFF;
}
/*создание градиента на картинки и вставка картинки*/
.gradient_with_img {
    height: 600px;
    background-image: linear-gradient(to top, rgba(12, 12, 14, 0), rgba(12,12,14, 1)), url(../img/welcome-1440.jpg);
    padding-top: 255px;  /*опустился блок с текстом*/
    padding-left: 0px;
    margin-left: 0px;
}
.welcom h2 {
    width: 520px;
    height: 150px;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: pre-line;
}
/*блок с текстом размещается в контейнере welcom*/
.welcom {
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
}
.text_about {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
/*размещение текста about*/
.text_about h2 {
    margin-top: 20px;
    margin-left: 667px;
}
/*создание черты под текстом about*/
.text_about h2:after {
    content: "";
    display: block; 
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-left: 28px;
    margin-top: 20px;
}
.about_cards_text h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */ 
    margin-top: 40px;  
}
/*контейнер для картинок*/
.container_cards_about {
    height: 560px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
/*картинки с отступами справа*/
.container_cards_about img {
    margin-right: 25px;
}
/*последняя картинка без отступа*/
.container_cards_about img:last-child {
    margin-right: 0px;
}
/*ставим на место кнопки*/
.shelder {
    padding-left: 686px;
    padding-top: 40px;
}
/*кнопки стилизация*/
.inputcolor {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    background-color: #0C0C0E;
    margin-right: 10px;
    outline: none;
  }
  /*кнопки стилизация при переходе*/
  input:checked {
    border: 13px solid #BB945F;
    margin-top: 5px;
}
 
  


 